@{
    ViewData["Title"] = "Contacto";
       Layout = "_LayoutLogin";
}
 <figure class="figure" style="color: var(--bs-indigo);"></figure>
    <div class="row">
        <div class="col text-center d-xl-flex justify-content-xl-center align-items-xl-center"><img class="img-fluid" src="./Imagenes/contacto_1.webp" style="height: 277.993px;"></div>
        <div class="col text-center d-xl-flex align-self-center justify-content-xl-center align-items-xl-center"><img class="img-fluid" src="./Imagenes/contacto_2.webp" style="height: 375.991px;"></div>
        <div class="col text-center d-xl-flex justify-content-xl-center align-items-xl-center"><img src="./Imagenes/contacto_3.webpp" style="height: 320px;"></div>
    </div>
    <div class="row">
        <div class="col d-xl-flex justify-content-xl-center"><a href="">Email: Edgar</a></div>
    </div>
    <div class="row">
        <div class="col d-xl-flex justify-content-xl-center"><a href="#">Email: Rodo</a></div>
    </div>
    <div class="row">
        <div class="col d-xl-flex justify-content-xl-center"><a href="contacto@italolobo.com.ar">Email: Italo&nbsp;</a></div>
    </div>